<!doctype html>
<html lang="ru">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link  rel="stylesheet" href="{% static 'bootstrap-5.2.3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'farm/base.css' %}"/>
    {% block css %}
    {% endblock %}
  </head>
  <body >
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock content %}

    {% block style %}
    {% endblock style %}
    <script src="{% static 'bootstrap-5.2.3/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
{% block footer %}
{% endblock %}