{% extends "base/base.html" %}
{% load static %}

{% block title %}
  {{ info.head_title }}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'farm/index/style.css' %}"/>
{% endblock %}

{% block header %}
{% include "base/header.html" %}
{% endblock %}

{% block content %}
<section class="py-5 text-center container background-header" >
      <div class="row py-lg-5">
          <h1 align="left"  class="h1-title" >{{ info.head_title }}</h1>
          <h2  class="word-title">{{ info.head_description }}</h2>
      </div>
  </section>

  <div class="album py-5 bg-light">

    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% if products %}

        {% for product in products %}
            {% include "base/card.html" with product=product%}
        {% endfor %}
      {% else %}
      <img src="static/farm/media/no_item.png" class="no-item-img" alt="Товара временно нет в продаже!">
      {% endif %}
      </div>
      <br>
        {% if page_obj.has_other_pages %}
          {% include "base/paginator.html" with items=page_obj %}
        {% endif %}
    </div>
  </div>

{% endblock content %}
{% block footer %}
    {% include "base/fooret.html" %}
{% endblock %}
