.word-title {
  width: 450px;
  padding: 10px;
  font-size: 18px;
  word-break: break-all;
  color: #212121;
   }

.h1-title {
  color: #1b1b1b;
  word-break: break-all;
}

body {
  background: #fbfbfb;
}

.p-footer {
  color: #212121;
}

.div-card {
  height: 420px;
  width: 420px;
}

.img-card {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.background-header {
    background-image: url("/static/farm/media/head.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    display: block;
    max-height: 350px;
}

.no-item-img {
    display: block;
    margin: 150px auto 250px;
}